@use "../../../styles/constants/" as c;
@use "../../../styles/mixins" as m;

.experienceWrap {
  @include m.flex(center, center, column);
  width: 100%;
  height: 350px;
  line-height: 20px;
}
.experienceContent {
  width: 900px;
  text-align: left;
  > h1 {
    color: c.$C_INFO;
    font-size: 30px;
    line-height: 50px;
  }
}
