@use "../../styles/constants/" as c;
@use "../../styles/mixins" as m;

.homeWrap {
  text-align: center;
  scroll-behavior: smooth;
  height: 100vh;
}
.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: black;
  transform-origin: 0%;
}
