@use "../../styles/constants/" as c;
@use "../../styles/mixins" as m;

.homeWrap {
  @include m.flex(center, center, column);
  text-align: center;
  scroll-behavior: smooth;
}
.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
