@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrap {
  @include m.flex(center, center, column);
  width: 100%;
  background-color: c.$C_BACKGROUND;
  height: 100vh;
  overflow-y: scroll;
  @include m.mobile {
    max-width: 480px;
    overflow-x: hidden;
  }
}
