@use "../../../styles/constants/" as c;
@use "../../../styles/mixins" as m;

.projectWrap {
  @include m.flex(center, center, column);
  width: 900px;
  height: 400px;
}
.projectContent {
  @include m.flex(space-between);
  width: 900px;
}

.projectImg {
  > img {
    width: 400px;
  }
}
.projectItem {
  > h1 {
    color: c.$C_INFO;
    font-size: 30px;
    line-height: 50px;
  }
}
