@use "../../../styles/constants/" as c;
@use "../../../styles/mixins" as m;

.skilsWrap {
  @include m.flex(center, center, column);
  width: 900px;
  height: 400px;

  > h1 {
    color: c.$C_INFO;
    font-size: 28px;
    text-align: left;
    display: block;
    width: 900px;
    @include m.mobile {
      width: 450px;
    }
  }
}

.skillsItemWrap {
  @include m.flex(center, center, column);
  border: 3px solid c.$C_DIVIDER;
  width: 900px;
  height: 500px;
  @include m.mobile {
    width: 450px;
  }
}
.skillsTitle {
  width: 900px;
  height: 50px;
  font-size: 25px;
}
.skillsItem {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 900px;
  letter-spacing: 15px;
  row-gap: 40px;
  @include m.mobile {
    width: 450px;
  }

  > h1 {
    letter-spacing: 1px;
    > span {
      color: c.$C_INFO;
      background-color: c.$C_DIVIDER;
      padding: 2px;
      border-radius: 10px;
    }
  }
}
