@use "../../../styles/constants/" as c;
@use "../../../styles/mixins" as m;

.introWrap {
  @include m.flex(center, center, column);
  width: 900px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 20px;

  .introContent {
    @include m.flex(space-between);
    width: 230px;
    > span {
      margin-left: 50px;
    }

    > div {
      display: flex;
      flex-direction: column;
      text-align: left;
      > h1 {
        font-size: 23px;
        line-height: 37px;
        font-weight: bold;
        color: #444444;
      }
      > p {
        width: 120px;
        line-height: 24px;
      }
    }
  }
}
