@use "../../../styles/constants/" as c;
@use "../../../styles/mixins" as m;

.titleWrap {
  @include m.flex(center, center, column);
  width: 100%;
  height: 420px;
  color: #444444;
  @include m.mobile {
    height: 600px;
  }
  > p {
    font-size: 50px;
    text-align: center;
  }
}
.titleContent {
  @include m.flex(space-between);
  width: 750px;
  @include m.mobile {
    flex-direction: column;
    width: 450px;
  }

  > h1 {
    width: 300px;
    font-size: 50px;
    text-align: left;
    line-height: 70px;
    border: 1px solid black;
  }
  > span {
    color: c.$C_INFO;
    font-size: 50px;
  }
}
.titleItem {
  > h1 {
    width: 500px;
    height: 80px;
    font-size: 50px;
    text-align: left;
    line-height: 70px;
  }
  > p {
    height: 80px;
    font-size: 50px;
    text-align: left;
    line-height: 70px;
  }
}
.titleImg {
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 4px rgb(96, 96, 96, 0.6);
  @include m.mobile {
    text-align: center;
  }
}
.projectItem {
  > h1 {
    color: c.$C_INFO;
    font-size: 30px;
    line-height: 50px;
  }
}
.titleCaption {
  @include m.flex();
  flex-direction: column;
  border: 1px solid #e0e0e0;
  justify-self: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  line-height: 30px;
  height: 150px;
  padding: 20px;
  @include m.mobile {
    font-size: 0.9rem;
    width: 480px;
  }
  > p:first-child {
    line-height: 50px;
  }
  > p {
    > a {
      color: black;
    }
  }
}

.codeIcon {
  font-size: 50px;
}
